:root {
  --tw-backdrop-blur: blur(4px);
  --tw-text-opacity: 1;
  --tw-bg-opacity: 1;
}

.talkBtn {
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);

  color: rgb(255 255 255 / var(--tw-text-opacity, 1));

  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;

  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: rgba(255, 255, 255, 0.2);
  /* background-color: rgb(37 99 235 / var(--tw-bg-opacity, 1)); */
  border-color: rgba(255, 255, 255, 0.3);
  border-width: 1px;
  border-radius: 0.5rem;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  display: flex;
}
