<<<<<<< HEAD
.flex {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
}
=======
.flex {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
}
>>>>>>> 65a1197eff0dc0aa7b18b469d8ce4621e7055d15
