<<<<<<< HEAD
.mainC{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
=======
.mainC{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
>>>>>>> 65a1197eff0dc0aa7b18b469d8ce4621e7055d15
