.navbar {
  /* gap: 15px; */
  list-style: none;
}
.liNav {
  color: #ffffff;
  margin-left: 4px;
  padding: 8px 16px;
  font-size: 16px;
  transition: all 300ms linear;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0);

  cursor: pointer;
}
.liNav:hover {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: white;
  backdrop-filter: blur(2px);
  border-radius: 6px;
  -webkit-backdrop-filter: blur(2px);
}
