
.backImg{
    width:100%;
    min-height:780px;
    background-image: linear-gradient(135deg, rgba(99, 102, 241, 0.8), rgba(139, 69, 19, 0.6)), url('../../../../../public/image/backHeader.jpg');
    display: flex;
    flex-direction: column;
}